{{/* Ignore the old stuff for now as we migrate */}}
LICENSE
README.md
agignore
aliases
bin
bin/**
config
config/**
gitconfig
gitignore
gitmessage
hooks
hooks/**
rcrc
tigrc
tmux.conf
vimrc
vimrc.bundles
zsh
zsh/**
zshrc
