{{- if not .headless }}
[".config/alacritty/themes/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/alacritty/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  include = ["*/*.toml"]
  refreshPeriod = "168h"

{{-    $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   end }}
{{    range (list
        "IosevkaNerdFont-Regular.ttf"
        "IosevkaNerdFont-Bold.ttf"
        "IosevkaNerdFont-Italic.ttf"
        "IosevkaNerdFont-BoldItalic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
  type = "file"
  url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Iosevka/{{ . }}"
  refreshPeriod = "168h"
{{-   end }}
{{- end }}

[".local/share/zinit/zinit"]
  type = "git-repo"
  url = "https://github.com/zdharma-continuum/zinit.git"
  refreshPeriod = "168h"

{{- $batThemesDir := ".config/bat/themes" }}
{{  range (list
      "Catppuccin Latte.tmTheme"
      "Catppuccin Frappe.tmTheme"
      "Catppuccin Macchiato.tmTheme"
      "Catppuccin Mocha.tmTheme") }}
["{{ $batThemesDir }}/{{ . }}"]
  type = "file"
  url = "https://github.com/catppuccin/bat/raw/main/themes/{{ . }}"
  refreshPeriod = "168h"
{{- end }}

[".config/git/catppuccin.gitconfig"]
  type = "file"
  url = "https://github.com/catppuccin/delta/raw/main/catppuccin.gitconfig"
  refreshPeriod = "168h"
