[".config/alacritty/themes/catppuccin"]
    type = "archive"
    url = "https://github.com/catppuccin/alacritty/archive/main.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if and (not .ephemeral) (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   end }}
{{-   range (list
        "IosevkaNerdFont-Regular.ttf"
        "IosevkaNerdFont-Bold.ttf"
        "IosevkaNerdFont-Italic.ttf"
        "IosevkaNerdFont-BoldItalic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Iosevka/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}
{{- end }}
