{{- if not .headless }}
[".config/alacritty/themes/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/alacritty/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  include = ["*/*.toml"]
  refreshPeriod = "168h"

{{-    $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   end }}
{{    range (list
        "IosevkaNerdFont-Regular.ttf"
        "IosevkaNerdFont-Bold.ttf"
        "IosevkaNerdFont-Italic.ttf"
        "IosevkaNerdFont-BoldItalic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
  type = "file"
  url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Iosevka/{{ . }}"
  refreshPeriod = "168h"
{{-   end }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
{{ $processor := output "uname" "-p" | trim }}
[".local/bin/starship"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "starship/starship" (printf "starship-%s-*-%s-*.tar.gz" $processor .chezmoi.os) | quote }}
    executable = true
    path = "starship"
[".local/bin/fzf"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote  }}
    executable = true
    path = "fzf"
[".local/bin/lazygit"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "jesseduffield/lazygit" (printf "lazygit_*_linux_%s.tar.gz" $processor) | quote }}
    executable = true
    path = "lazygit"
[".local/bin/gdu"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "dundee/gdu" (printf "gdu_%s_%s.tgz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = {{ (printf "gdu_%s_%s" .chezmoi.os .chezmoi.arch) | quote }}
[".local/bin/age"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age"
[".local/bin/age-keygen"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age-keygen"
{{- end }}

[".local/share/zinit/zinit"]
  type = "git-repo"
  url = "https://github.com/zdharma-continuum/zinit.git"
  refreshPeriod = "168h"

{{- $batThemesDir := ".config/bat/themes" }}
{{  range (list
      "Catppuccin Latte.tmTheme"
      "Catppuccin Frappe.tmTheme"
      "Catppuccin Macchiato.tmTheme"
      "Catppuccin Mocha.tmTheme") }}
["{{ $batThemesDir }}/{{ . }}"]
  type = "file"
  url = "https://github.com/catppuccin/bat/raw/main/themes/{{ . }}"
  refreshPeriod = "168h"
{{- end }}

[".config/git/catppuccin.gitconfig"]
  type = "file"
  url = "https://github.com/catppuccin/delta/raw/main/catppuccin.gitconfig"
  refreshPeriod = "168h"

[".config/btop/themes"]
  type = "archive"
  url = {{ gitHubLatestReleaseAssetURL "catppuccin/btop" "themes.tar.gz" | quote }}
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".config/lazygit/themes/catppuccin"]
  type = "git-repo"
  url = "https://github.com/catppuccin/lazygit.git"
  ref = "v2.2.0"
  refreshPeriod = "168h"
