#!/usr/bin/env zsh

# Aliases
{{- if lookPath "chezmoi" }}
alias cz="chezmoi"
{{- end }}

{{- if lookPath "bat" }}
alias cat="bat"
{{- end }}

{{- if lookPath "eza" }}
alias ls="eza"
{{- end }}

{{- if lookPath "nvim" }}
alias vim="nvim"
alias vi="nvim"
{{- end }}

{{- if lookPath "lazygit" }}
alias lazygit="lazygit --use-config-file=\"${XDG_CONFIG_HOME}/lazygit/config.yml,${XDG_CONFIG_HOME}/lazygit/themes/catppuccin/themes-mergable/mocha/blue.yml\""
{{- end }}
